*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:root {
    --lightBlue: #F0F6FD;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    height: 100%;
    width: 100%;
    -webkit-overflow-style: scrollbar;
    -khtml-overflow-style: scrollbar;
    -moz-overflow-style: scrollbar;
    -ms-overflow-style: scrollbar;
    -o-overflow-style: scrollbar;
    overflow: scrollbar;
}

body p {
    line-height: 28px;
}

body,
body p {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: var(--secondary-fonts);
    color: var(--content-color);
    letter-spacing: 0px;
    word-spacing: 0px;
    text-transform: inherit;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body p+p {
    margin: 15px 0px 0px 0px;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    font-style: normal;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-transform: inherit;
    padding: 0;
    font-weight: 600;
    margin: 15px 0px 10px 0px;
    font-family: var(--primary-fonts);
    color: var(--heading-color);
}

body h1 {
    font-size: 54px;
    line-height: 68px;
}

body h2 {
    font-size: 44px;
    line-height: 54px;
}

body h3 {
    font-size: 44px;
    line-height: 54px;
}

body h4 {
    font-size: 28px;
    line-height: 130%;
}

body h5 {
    font-size: 24px;
    line-height: 130%;
}

body h6 {
    font-size: 20px;
    line-height: 130%;
}

body ul {
    margin: 0;
    padding: 0;
}

body #wrapper {
    background-color: #191c21;
    background-repeat: repeat;
    background-position: center top;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    position: relative;
    overflow: hidden;
    width: 100%;
}

body img {
    max-width: 100%;
}

.position-relative {
    position: relative;
}

.fs-36 {
    font-size: 36px;
}

.fw-700 {
    font-weight: 700 !important;
}

.row-gap-60 {
    row-gap: 60px;
}

.row-gap-30 {
    row-gap: 30px;
}

.row-gap-25 {
    row-gap: 25px;
}

.bg-lightBlue {
    background: var(--lightBlue);
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {

    .container,
    .container-sm {
        max-width: 540px
    }
}

@media (min-width:768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 720px
    }
}

@media (min-width:992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px
    }
}

@media (min-width:1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1250px
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.row-cols-1>* {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.row-cols-2>* {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.row-cols-3>* {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.row-cols-4>* {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.row-cols-5>* {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%
}

.row-cols-6>* {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

@media (min-width:375px) {
    .col-xs-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
}

@media (min-width:576px) {
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .row-cols-sm-1>* {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .row-cols-sm-2>* {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .row-cols-sm-3>* {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .row-cols-sm-4>* {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .row-cols-sm-5>* {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .row-cols-sm-6>* {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-sm-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width:768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .row-cols-md-1>* {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .row-cols-md-2>* {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .row-cols-md-3>* {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .row-cols-md-4>* {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .row-cols-md-5>* {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .row-cols-md-6>* {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width:992px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .row-cols-lg-1>* {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .row-cols-lg-2>* {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .row-cols-lg-3>* {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .row-cols-lg-4>* {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .row-cols-lg-5>* {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .row-cols-lg-6>* {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-lg-offset-2 {
        margin-left: 16.66%;
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width:1200px) {
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .row-cols-xl-1>* {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .row-cols-xl-2>* {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .row-cols-xl-3>* {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .row-cols-xl-4>* {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .row-cols-xl-5>* {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .row-cols-xl-6>* {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-xl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .col-xl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-xl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-xl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-xl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-xl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

.btn {
    border-radius: 50px;
    padding: 23px 40px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 0;
    font-size: 18px;
    line-height: 23px;
}

.btn-md {
    padding: 18px 40px;
    font-size: 16px;
    line-height: 20px;
}

.btn-sm {
    padding: 15px 20px;
    font-size: 16px;
    line-height: 20px;
}

.btn-xs {
    padding: 8px 12px;
    font-size: 14px;
    line-height: 18px;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #ffffff;
}

.btn-primary-outline {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--heading-color);
    color: #ffffff;
}

.btn-primary-reverese {
    background-color: #ffffff;
    color: var(--primary-color);
}

.btn-primary:hover,
.btn-primary-outline:hover,
.btn-secondary:hover,
.btn-primary-reverese:hover {
    box-shadow: 0 14px 26px -12px rgb(0 122 255 / 42%), 0 4px 23px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 122 255 / 42%);
}

.sectionGapPadding {
    padding: 100px 0;
}

.sectionGapHalfPadding {
    padding: 60px 0;
}

@media (max-width: 1440.98px) {
    .sectionGapPadding {
        padding: 80px 0;
    }

    .sectionGapHalfPadding {
        padding: 50px 0;
    }

    .industry-experts-block {
        margin-bottom: 80px;
    }
}

@media (max-width: 991.98px) {
    .sectionGapPadding {
        padding: 50px 0;
    }

    .sectionGapHalfPadding {
        padding: 50px 0;
    }
}

.noTopPadding {
    padding-top: 0px;
}

.titleSc {
    text-align: center;
    margin-bottom: 50px;
}

.titleSc .mainTitle {
    margin-top: 0px;
    margin-bottom: 30px;
    position: relative;
    font-size: 48px;
    font-weight: 500;
}

.titleSc .mainTitle:before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 12px;
    border-bottom: 4px solid var(--primary-color);
    width: 34px;
}

.titleSc.noLine .mainTitle:before {
    display: none;
}

.titleSc.noLine .mainTitle {
    margin-bottom: 15px;
}

.titleSc.titleLeft {
    text-align: left;
}

.titleSc.titleLeft .mainTitle:before {
    left: 0;
    transform: translate(0);
}

.titleSc p {
    font-size: 16px;
}

@media (max-width: 1440.98px) {
    .titleSc .mainTitle {
        font-size: 34px;
        line-height: 44px;
    }
}

@media (max-width: 797.98px) {
    .titleSc .mainTitle {
        font-size: 26px;
        line-height: 40px;
    }

    br {
        display: none;
    }
}

@media (min-width: 991.99px) {
    .row.row-align-center-lg {
        align-items: center;
    }
}

.font-white {
    color: #ffffff !important;
}

.font-primary {
    color: var(--primary-color) !important;
}

.font-heading {
    color: var(--heading-color) !important;
}

.font-bold {
    font-weight: 700 !important;
}

.font-medium {
    font-weight: 500 !important;
}

.text-center {
    text-align: center !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.noMarginBottom {
    margin-bottom: 0px !important;
}

.noMarginTop {
    margin-top: 0px !important;
}

.feature_banner {
    padding-top: 20px;
    padding-bottom: 0px;
}

.feature_banner.bg-grey {
    background-color: #F7FBFF;
}

.feature_banner .bnr_cnt_sc {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.feature_banner.time_tracking_bnr .bnr_cnt_sc {
    max-width: 500px;
}

.feature_banner .bnr_cnt_sc :is(h1:not(.bnr_sub_ttl), .bnr_ttl) {
    font-weight: 700;
    font-size: 42px;
    line-height: 118%;
    margin-top: 0px;
    margin-bottom: 10px;
}

.feature_banner .bnr_cnt_sc .bnr_sub_ttl {
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 10px;
}

.feature_banner .bnr_cnt_sc p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 0;
}

.feature_banner .bnr_img_sc {
    display: flex;
    align-items: flex-end;
}

.feature_banner.bnr_bg_img {
    background-size: cover;
    padding: 140px 0px;
}

.feature_banner.bnr_bg_img .bnr_cnt_sc :is(h1, p) {
    color: #ffffff;
}

.feature_banner.bnr_has_subttl .bnr_cnt_sc :is(.bnr_sub_ttl, .bnr_ttl, p) {
    margin-bottom: 15px;
}

.feature_banner.bnr_has_subttl .bnr_cnt_sc p b {
    color: #334155;
}

.feature_banner.bnr_has_subttl .bnr_cnt_sc .btn-sc {
    margin-top: 20px;
}

@media (min-width: 991.99px) {
    .feature_banner.bnr_has_subttl .row {
        align-items: flex-end;
    }

    .feature_banner.bnr_has_subttl .bnr_cnt_sc {
        padding: 40px 0px 60px;
    }
}

@media (min-width: 1450.99px) {
    .feature_banner {
        margin-top: 128.625px;
    }
}

@media (max-width: 1450.98px) and (min-width: 991.99px) {
    .feature_banner {
        margin-top: 115px;
    }
}

@media (max-width: 991.98px) and (min-width: 767.99px) {
    .feature_banner {
        margin-top: 109.297px;
    }
}

@media (max-width: 767.98px) {
    .feature_banner {
        margin-top: 102px;
    }
}

@media (max-width: 1450.98px) {
    .feature_banner.bnr_bg_img {
        padding: 100px 0;
    }
}

@media (max-width: 991.98px) {

    .feature_banner.bnr_bg_img,
    .feature_banner {
        padding: 20px 0 50px 0;
    }

    .feature_banner .row [class*=col-]:nth-child(1) {
        order: 1;
    }

    .feature_banner .row [class*=col-]:nth-child(2) {
        order: 0;
    }

    .feature_banner .bnr_cnt_sc {
        text-align: center;
        margin: 30px auto 0;
        align-items: center;
        height: auto;
    }

    .feature_banner .bnr_cnt_sc :is(h1:not(.bnr_sub_ttl), .bnr_ttl) {
        font-size: 30px;
        line-height: 34px;
    }

    .feature_banner .bnr_cnt_sc p {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .feature_grid_box .grid_cnt_sc .title br {
        display: none;
    }
}

.feature_grid_box+.feature_grid_box {
    padding-top: 100px;
}

.feature_grid_box:nth-child(even) .row [class*=col-]:nth-child(1) {
    order: 1;
}

.feature_grid_box:nth-child(even) .row [class*=col-]:nth-child(2) {
    order: 0;
}

.feature_grid_box .row {
    margin-left: -20px;
    margin-right: -20px;
    align-items: center;
}

.feature_grid_box .row>[class*=col-] {
    padding-left: 20px;
    padding-right: 20px;
}

.feature_grid_box .grid_cnt_sc .title {
    font-size: 33px;
    line-height: 140%;
    color: var(--heading-color);
    margin: 0 0 20px;
    font-weight: 600;
}

.feature_grid_box .grid_cnt_sc .sub_title {
    color: rgb(30 41 59 / 85%);
    font-family: var(--secondary-fonts), sans-serif;
    font-weight: 700;
    margin: 0 0 20px;
}

.feature_grid_box .grid_cnt_sc p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
    color: var(--content-color);
}

.feature_grid_box .grid_cnt_sc p a {
    color: var(--primary-color);
    text-decoration: underline;
}

.feature_grid_box li {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #334155;
}

.feature_grid_box ul a,
.feature_grid_box ol a,
.feature_grid_box p a {
    color: var(--primary-color);
    text-decoration: underline;
}

.feature_grid_box ul,
.feature_grid_box ol {
    margin-left: 30px;
}

.feature_grid_box ul {
    list-style-type: disc;
}

.feature_grid_box ol {
    list-style-type: decimal;
}

.feature_grid_box li+li {
    margin-top: 10px;
}

.feature_grid_box ul.download-ul a {
    color: rgba(51, 65, 85, 1);
}

.feature_grid_box p.mb-5 {
    margin-bottom: 5px;
}

.tick-ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.tick-ul li {
    padding: 10px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    position: relative;
    list-style-type: none;
    margin-bottom: 0;
    text-align: left;
    color: rgba(30, 41, 59, 0.75);
}

.tick-ul li:before {
    content: "";
    position: absolute;
    left: -30px;
    top: 12px;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url(https://cdn.mooninvoice.com/image/images/round-circle.svg);
}

.tick-ul:not(.half-ul) li:nth-child(1) {
    padding-top: 0px;
}

.tick-ul:not(.half-ul) li:last-child {
    padding-bottom: 0px;
}

.tick-ul:not(.half-ul) li:nth-child(1)::before {
    top: 2px;
}

.tick-ul.half-ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.tick-ul.half-ul li {
    width: 50%;
    padding-left: 25px;
}

.tick-ul.half-ul li:before {
    left: 0px;
}

.feature_grid_box .grid_cnt_sc .btn-sc {
    margin-top: 30px;
}

.grid_img_sc {
    text-align: center;
}

.grid_img_sc svg {
    max-width: 100%;
}

.feature_grid_box .disc_ul li {
    position: relative;
    padding-left: 33px;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
}

.feature_grid_box .disc_ul li+li {
    margin-top: 10px;
}

.feature_grid_box .disc_ul li::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 8px;
}

@media (max-width: 991.98px) {
    .feature_grid_box .row [class*=col-]:nth-child(1) {
        order: 1;
    }

    .feature_grid_box .row [class*=col-]:nth-child(2) {
        order: 0;
    }

    .feature_grid_box .grid_img_sc {
        text-align: center;
    }

    .feature_grid_box .grid_cnt_sc {
        text-align: center;
        padding-top: 20px;
    }

    .feature_grid_box .grid_cnt_sc .title {
        font-size: 26px;
        margin-bottom: 10px;
        line-height: 120%;
    }

    .feature_grid_box .grid_cnt_sc .sub_title {
        margin-bottom: 10px;
        font-size: 22px;
    }

    .feature_grid_box+.feature_grid_box {
        padding-top: 50px;
    }

    .feature_grid_box .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .feature_grid_box .row>[class*=col-] {
        padding-left: 15px;
        padding-right: 15px;
    }

    .tick-ul.half-ul li {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .feature_grid_box .grid_cnt_sc .btn-sc .btn {
        font-size: 14px;
        padding: 18px 32px;
    }
}

.ctaBtnSc {
    background-color: rgb(247 251 255 / 80%);
}

.ctaBtnSc .title {
    font-size: 36px;
    line-height: 120%;
    margin: 0 0 24px;
    font-weight: 500;
}

.ctaBtnSc p {
    font-size: 16px;
    line-height: 20px;
}

.ctaBtnSc .btn {
    margin-top: 30px;
}

.ctaBtnSc.ctaLinkListSc .title {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 40px;
}

.ctaBtnSc ul {
    padding: 0;
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
}

.ctaBtnSc ul li {
    width: 50%;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 20px;
    list-style-type: none;
    position: relative;
    padding-left: 20px;
    text-align: left;
}

.ctaBtnSc .linkList li::before {
    content: "\2022";
    color: #007ffa;
    font-size: 22px;
    position: absolute;
    left: 0;
}

.ctaBtnSc .tickList li {
    padding-left: 38px;
}

.ctaBtnSc .tickList li::before {
    content: "";
    top: 7px;
    background-image: url(https://cdn.mooninvoice.com/image/images/blue_check.svg);
    width: 16px;
    height: 13px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    font-size: 22px;
    position: absolute;
    left: 0;
}

.ctaBtnSc .linkList li a {
    color: var(--heading-color);
}

.ctaBtnSc .linkList li a:hover {
    color: var(--primary-color);
}

.hasCtaSubTtl .title {
    margin: 0 0 15px;
}

.hasCtaSubTtl .title.nosubtitle {
    margin-bottom: 30px;
}

.hasCtaSubTtl .subTtl {
    margin-bottom: 30px;
}

.hvacCtaBtnSc.ctaBtnSc .tickList {
    max-width: 950px;
}

.hvacCtaBtnSc.ctaBtnSc .tickList li {
    font-size: 16px;
}

.hvacCtaBtnSc.ctaBtnSc .tickList li:nth-child(odd) {
    width: 42%;
}

.hvacCtaBtnSc.ctaBtnSc .tickList li:nth-child(even) {
    width: 58%;
}

@media (max-width: 1498.98px) {
    .ctaBtnSc.ctaLinkListSc .title {
        font-size: 38px;
        line-height: 42px;
    }
}

@media (max-width: 1199.98px) {
    .ctaBtnSc .title {
        font-size: 32px;
    }
}

@media (max-width: 991.98px) {
    .ctaBtnSc .title {
        font-size: 28px;
    }

    .hvacCtaBtnSc.ctaBtnSc .tickList li:nth-child(odd),
    .hvacCtaBtnSc.ctaBtnSc .tickList li:nth-child(even) {
        width: 50%;
    }
}

@media (max-width: 767.98px) {
    .ctaBtnSc ul li {
        font-size: 16px;
    }

    .ctaBtnSc.ctaLinkListSc .title {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 30px;
    }
}

@media (max-width: 575.98px) {
    .ctaBtnSc .title {
        margin: 0 0 15px;
    }

    .ctaBtnSc .btn {
        margin-top: 20px;
    }

    .ctaBtnSc ul li,
    .hvacCtaBtnSc.ctaBtnSc .tickList li:nth-child(odd),
    .hvacCtaBtnSc.ctaBtnSc .tickList li:nth-child(even) {
        width: 100%;
    }
}

.cta_bar_sc {
    background-color: rgb(0 127 250 / 80%);
}

.process_bg {
    background-image: url(https://cdn.mooninvoice.com/image/images/invoice-cycle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.beauty_bg {
    background-size: cover;
    background-image: url(https://cdn.mooninvoice.com/image/images/mooninvoice-bg.svg);
}

.cta_bar_sc * {
    color: #ffffff;
}

.cta_bar_sc .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    margin: 0 0 20px;
}

.cta_bar_sc p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}

.cta_bar_sc .btn {
    color: var(--primary-color);
    text-transform: capitalize;
}

@media (max-width: 991.98px) {
    .cta_bar_sc .title {
        font-size: 32px;
        line-height: 120%;
    }

    .fs-36 {
        font-size: 32px;
    }
}

@media (max-width: 767.98px) {
    .cta_bar_sc .title {
        font-size: 28px;
        line-height: 120%;
    }

    .fs-36 {
        font-size: 28px;
    }
}

.happy_user_main .main-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
    color: #1E293B;
    font-size: 48px;
    line-height: 120%;
}

.happy_user_box {
    padding: 25px;
    background: #f8f8f8;
    border-radius: 10px;
    height: calc(100% - 30px);
    margin-top: 30px
}

.happy_user_box .star_sc svg {
    height: 25px;
}

.happy_user_box .user_name {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #1e293b;
    display: block;
    opacity: .5;
    margin-top: 10px;
    margin-bottom: 10px
}

.happy_user_box .cmt_cnt,
.happy_user_box .cmt_ttl {
    font-size: 16px;
    line-height: 160%;
    display: block;
    color: #1e293b
}

.happy_user_box .cmt_ttl {
    font-weight: 600;
    margin-bottom: 5px
}

.happy_user_box .cmt_cnt {
    font-weight: 400;
    opacity: .8
}

@media (max-width: 991.98px) {
    .happy_user_main .main-title {
        margin-bottom: 0px;
        font-size: 30px;
    }
}

.faqMain .titleSc {
    margin-bottom: 35px;
}

.faqMain .titleSc .mainTitle {
    margin-top: 0px;
    margin-bottom: 0;
    position: relative;
    font-size: 34px;
    font-weight: 600;
    line-height: 150%;
    color: var(--primary-color);
}

.faqMain .titleSc .mainTitle:before {
    display: none;
}

.faqPanel {
    border-top: 1px solid #C5C5C5;
}

.faqPanel:last-child {
    border-bottom: 1px solid #C5C5C5;
}

.faqPanel .faqPanelTitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    font-family: var(--secondary-fonts);
    margin: 0;
    padding: 15px 35px 15px 15px;
    cursor: pointer;
    position: relative;
    letter-spacing: 0;
}

.faqPanel .faqPanelTitle:before {
    content: '';
    background-image: url(https://cdn.mooninvoice.com/image/images/faq-plus.svg);
    background-size: 16px 12px;
    width: 16px;
    height: 12px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0px, -50%);
}

.faqPanel.open .faqPanelTitle:before {
    background-image: url(https://cdn.mooninvoice.com/image/images/faq-minus.svg);
}

.faqPanel .panelBody {
    display: none;
    padding: 0 15px 15px;
}

.faqPanel .panelBody p,
.faqPanel .panelBody li {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #707070;
}

.faqPanel .panelBody .numeric li {
    list-style-type: auto;
}

.faqPanel .panelBody p a,
.faqPanel .panelBody li a {
    color: var(--primary-color);
    text-decoration: underline;
}

.faqPanel .panelBody ul {
    padding-left: 34px;
    list-style: disc;
    margin-top: 10px;
}

.faqPanel .panelBody li+li {
    margin-top: 10px;
}

@media (max-width: 991.98px) {
    .faqPanel .faqPanelTitle {
        font-size: 20px;
        line-height: 28px;
    }

    .faqPanel .panelBody p,
    .faqPanel .panelBody li {
        font-size: 16px;
    }
}

@media (max-width: 767.98px) {
    .faqPanel .faqPanelTitle {
        font-size: 16px;
        line-height: 20px;
        padding: 15px 15px 15px 8px;
    }

    .faqPanel .faqPanelTitle:before {
        right: 0;
    }

    .faqMain .titleSc .mainTitle {
        font-size: 28px;
        line-height: 34px;
    }

    .faqPanel .panelBody ul {
        padding-left: 14px;
    }
}

@media (max-width: 575.98px) {
    .faqPanel .panelBody {
        padding: 0 8px 15px;
    }

    .faqPanel .panelBody p,
    .faqPanel .panelBody li {
        font-size: 14px;
    }

    .faqMain .titleSc .mainTitle {
        font-size: 22px;
        line-height: 28px;
    }
}

.reviewSliderSc .row {
    align-items: center;
}

.reviewSliderSc h3 {
    font-size: 45px;
    line-height: 53px;
    margin-top: 0;
}

.reviewSliderSc p {
    font-size: 18px;
    line-height: 33px;
}

.reviewSliderSc :is(.NextSlide, .PrevSlide) {
    display: inline-block;
    margin-top: 25px;
}

.reviewSliderSc :is(.NextSlide:hover, .PrevSlide:hover) svg path {
    fill: var(--primary-color);
}

.reviewSliderSc .NextSlide {
    margin-left: 10px;
}

.reviewSliderSc .owl-carousel.owl-theme {
    max-width: 560px;
    background-color: #eff6fe;
    padding: 60px 0;
    margin: auto;
}

.review_inner_box {
    padding: 20px;
    background: #fff;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, .05);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 220px;
}

.reviewSliderSc .owl-item .item .review_inner_box {
    transition: .3s;
    -webkit-transform: scale(.85);
    -ms-transform: scale(.85);
    transform: scale(.85);
}

.reviewSliderSc .owl-item.active .item .review_inner_box {
    transition: .3s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.custom_media {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-50 {
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.custom_media .media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    margin-left: 15px;
    flex: 1;
}

.custom_media .media-body h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 5px;
    color: var(--primary-color);
}

.custom_media .media-body img {
    width: 80px !important;
}

.review_inner_box p {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 0;
}

@media (max-width: 991.98px) {
    .reviewContentBox {
        text-align: center;
        margin-bottom: 30px;
    }

    .reviewSliderSc h3 {
        font-size: 30px;
        line-height: 44px;
    }

    .reviewSliderSc .owl-carousel.owl-theme {
        max-width: 100%;
    }
}

@media (max-width: 767.98px) {
    .reviewSliderSc .owl-carousel.owl-theme {
        padding: 30px 25px;
    }

    .custom_media .media-body h6 {
        font-size: 18px;
        line-height: 21px;
    }

    .reviewSliderSc p {
        font-size: 14px;
        line-height: 22px;
    }
}

.featureGridSc .gridBox {
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    padding: 25px;
    margin-top: 30px;
    height: calc(100% - 30px);
}

.featureGridSc .gridSc>.row>[class*=col-]:nth-child(1) .gridBox,
.featureGridSc .gridSc>.row>[class*=col-]:nth-child(2) .gridBox,
.featureGridSc .gridSc:not(.gridTwoCol)>.row>[class*=col-]:nth-child(3) .gridBox {
    margin-top: 0;
    height: 100%;
}

.featureGridSc .gridBox .icnSc {
    width: 56px;
}

.featureGridSc .gridBox .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    margin: 15px 0;
}

.featureGridSc .gridBox p {
    font-size: 16px;
    line-height: 140%;
}

.featureGridSc .gridBox p a {
    text-decoration: underline;
    color: var(--primary-color);
}

.featureGridSc.ftRentalSc .titleSc p {
    max-width: 828px;
    margin: auto;
}

@media (min-width: 1199.99px) {
    .featureGridSc .gridSc>.row {
        margin-left: -27.5px;
        margin-right: -27.5px;
        justify-content: center;
    }

    .featureGridSc .gridSc>.row>[class*=col-] {
        padding-left: 27.5px;
        padding-right: 27.5px;
    }

    .featureGridSc .gridSc.gridTwoCol>.row {
        margin-left: -21.5px;
        margin-right: -21.5px;
    }

    .featureGridSc .gridSc.gridTwoCol>.row>[class*=col-] {
        padding-left: 21.5px;
        padding-right: 21.5px;
    }

    .featureGridSc .gridBox {
        margin-top: 55px;
        height: calc(100% - 55px);
    }

    .featureGridSc .gridSc.gridTwoCol .gridBox {
        margin-top: 43px;
        height: calc(100% - 43px);
    }
}

@media (min-width: 1440.99px) {
    .featureGridSc .titleSc .mainTitle {
        font-size: 36px;
        line-height: 120%;
    }
}

@media (max-width: 991.98px) {
    .featureGridSc .gridSc:not(.gridTwoCol)>.row>[class*=col-]:nth-child(3) .gridBox {
        margin-top: 30px;
        height: calc(100% - 30px);
    }
}

@media (max-width: 767.98px) {
    .featureGridSc .gridBox {
        margin-top: 20px;
        height: auto;
    }

    .featureGridSc .gridSc>.row> :is([class*=col-]:nth-child(2), [class*=col-]:nth-child(3)) .gridBox,
    .featureGridSc .gridSc:not(.gridTwoCol)>.row>[class*=col-]:nth-child(3) .gridBox {
        margin-top: 20px;
        height: auto;
    }
}

.grdListSc {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}

.grdListSc .list {
    width: calc(33.33% - 20px);
    border-radius: 8px;
    border: 1px solid #E2E8F0;
    padding: 12px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.grdListSc .list svg {
    margin-right: 10px;
}

.grdListSc .list span {
    width: calc(100% - 34px);
    line-height: 110%;
    font-size: 16px;
}

.billingSoftwareIndia-page p {
    font-size: 16px !important;
}

.billing-svg-icons {
    margin-bottom: 20px;
}

.tablet-none {
    display: none !important;
}

.fontSourceSans h3,
.fontSourceSans p {
    font-family: var(--secondary-fonts) !important;
}

.keyFeatures h3 {
    font-size: 24px;
    line-height: 30px;
}

.paymentIntegrations-section {
    background: var(--primary-color);
    padding: 50px 0px;
}

.paymentIntegrations-section * {
    color: #fff;
}

.integrations-block {
    display: flex;
    align-items: center;
    border: 1px solid #FFFFFF33;
    background: #FFFFFF33;
    border-radius: 18px;
    padding: 12px;
    column-gap: 20px;
}

.industry-experts-block {
    border: 1px solid #90C9FF;
    border-radius: 40px;
    padding: 60px 80px;
    overflow: hidden;
    margin-bottom: 100px;
}

.industry-experts-block h2,
.industry-experts-block p {
    text-align: left;
}

.border-bootom {
    position: relative;
}

.border-bootom::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 20px;
    transform: translate(-50%, 0%);
    border-radius: 12px;
    border-bottom: 4px solid var(--primary-color);
    width: 34px;
}

.keyFeatures-animation1,
.keyFeatures-animation2,
.keyFeatures-animation3,
.keyFeatures-animation4 {
    position: relative;
    z-index: 1;
}

.keyFeatures-animation1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('http://miwebsite.test/public/assets_website/images/billing-software-india/keyfuture-animation1.svg') no-repeat;
    width: 315px;
    height: 225px;
    z-index: -1;
}

.keyFeatures-animation1::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background: url('http://miwebsite.test/public/assets_website/images/billing-software-india/keyfuture-animation2.svg') no-repeat;
    width: 280px;
    height: 490px;
    z-index: -1;
}

.keyFeatures-animation2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('http://miwebsite.test/public/assets_website/images/billing-software-india/keyfuture-animation3.svg') no-repeat;
    width: 315px;
    height: 100%;
    z-index: -1;
}

.keyFeatures-animation2::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background: url('http://miwebsite.test/public/assets_website/images/billing-software-india/keyfuture-animation4.svg') no-repeat;
    width: 320px;
    height: 100%;
    z-index: -1;
}

.keyFeatures-animation3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('http://miwebsite.test/public/assets_website/images/billing-software-india/keyfuture-animation7.svg') no-repeat;
    width: 390px;
    height: 395px;
    z-index: -1;
}

.keyFeatures-animation4::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('http://miwebsite.test/public/assets_website/images/billing-software-india/keyfuture-animation6.svg') no-repeat;
    width: 96px;
    height: 150px;
    z-index: -1;
}

.keyFeatures-animation4::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url('http://miwebsite.test/public/assets_website/images/billing-software-india/keyfuture-animation5.svg') no-repeat;
    width: 200px;
    height: 208px;
    z-index: -1;
}

@media (min-width: 1440.99px) {
    .tickGrdSc .titleSc .mainTitle {
        font-size: 36px;
        line-height: 120%;
    }
}

@media (max-width: 991.98px) {
    .grdListSc {
        gap: 15px;
    }

    .grdListSc .list {
        width: calc(50% - 7.5px);
    }

    .tablet-none {
        display: block !important;
    }

    .tablet-block {
        display: none !important;
    }

    .row-gap-60 {
        row-gap: 30px;
    }

    .keyFeatures h3 {
        font-size: 20px;
    }

    .gold-plan-section {
        text-align: center;
    }

    .gold-plan-section h3 {
        line-height: normal;
    }

    .paymentIntegrations-section {
        padding: 30px 10px;
    }

    .integrations-block img {
        width: 50px;
    }

    .integrations-block h5 {
        font-size: 20px;
    }

    .industry-experts-block {
        padding: 50px;
    }

    .industry-experts-block {
        margin-bottom: 50px;
    }
}

@media (max-width: 767.98px) {
    .grdListSc .list {
        width: calc(100% - 0px);
    }

    .billing-svg-icons {
        margin-bottom: 5px;
    }

    .titleSc {
        text-align: center;
        margin-bottom: 25px;
    }

    .keyFeatures h3 {
        font-size: 18px;
    }

    .keyFeatures br {
        display: block !important;
    }

    .milestone-section img {
        width: 30%;
    }

    .keyFeatures img {
        width: 40%;
    }

    .industry-experts-block {
        padding: 30px;
    }
}

@media (max-width: 576.98px) {

    .keyFeatures-animation1::after,
    .keyFeatures-animation1::before,
    .keyFeatures-animation2::after,
    .keyFeatures-animation2::before,
    .keyFeatures-animation3::after {
        display: none;
    }

    .integrations-block {
        column-gap: 12px;
    }

    .row-gap-25 {
        row-gap: 12px;
    }

    .why-choosesection .billing-svg-icons {
        max-width: 55%;
        margin: 0 auto;
    }

    .why-choosesection h5 {
        font-size: 16px;
        margin-top: 5px;
    }

    .col-xs-6 {
        padding-right: 8px !important;
        padding-left: 8px !important;
    }

    .row-gap-30 {
        row-gap: 20px;
    }

    .industry-experts-block {
        padding: 20px;
        border-radius: 15px;
    }

    .billingSoftwareIndia-page p {
        font-size: 15px !important;
    }

    .keyFeatures h3 {
        font-size: 17px;
        line-height: 22px;
    }

    .keyFeatures .billing-svg-icons {
        margin-bottom: 0px;
    }

    .milestone-section .titleSc .mainTitle {
        font-size: 22px;
        line-height: 30px;
    }
}

@media screen and (max-width:500.98px) {
    .integrations-block {
        column-gap: 8px;
        padding: 8px;
        border-radius: 10px;
    }

    .integrations-block h5 {
        font-size: 15px;
    }

    .integrations-block img {
        width: 35px;
    }

    .paymentIntegrations-section .col-xs-6 {
        padding-right: 6px !important;
        padding-left: 6px !important;
    }
}

@media screen and (max-width:424.98px) {
    .keyFeatures h3 {
        font-size: 16px;
        line-height: 22px;
    }

    .why-choosesection h5 {
        font-size: 14px;
        margin-top: 5px;
    }
}