.btn,
.cn-button.wp-default,
.label {
    white-space: nowrap
}

.btn,
img {
    vertical-align: middle
}

a {
    background-color: transparent
}

footer,
header,
nav {
    display: block
}

.btn,
.lds-ring,
.logo_div,
.whypaymentwrap,
.whypaypart h2 {
    display: inline-block
}

a {
    color: #337ab7
}

a:active,
a:hover {
    outline: 0
}

.close,
.font_bold,
.label {
    font-weight: 600;
}

h1 {
    margin: .67em 0
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

button,
input {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button {
    text-transform: none
}

button {
    -webkit-appearance: button;
    cursor: pointer
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input {
    line-height: normal
}

input[type=checkbox] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

@media print {

    *,
    :after,
    :before {
        color: #000 !important;
        text-shadow: none !important;
        background: 0 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }

    a,
    a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    a[href^="javascript:"]:after {
        content: ""
    }

    img {
        page-break-inside: avoid;
        max-width: 100% !important
    }

    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }

    h2,
    h3 {
        page-break-after: avoid
    }

    .label {
        border: 1px solid #000
    }
}

@font-face {
    font-family: "Glyphicons Halflings";
    src: url(https://cdn.mooninvoice.com/css/fonts/glyphicons-halflings-regular.eot);
    src: url(https://cdn.mooninvoice.com/css/fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(https://cdn.mooninvoice.com/css/fonts/glyphicons-halflings-regular.woff2) format("woff2"), url(https://cdn.mooninvoice.com/css/fonts/glyphicons-halflings-regular.woff) format("woff"), url(https://cdn.mooninvoice.com/css/fonts/glyphicons-halflings-regular.ttf) format("truetype"), url(https://cdn.mooninvoice.com/css/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg")
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    line-height: 1.42857143;
    color: var(--content-color);
    background-color: #fff;
    font-family: var(--secondary-fonts);
}

button,
input {
    font-size: inherit;
    line-height: inherit
}

a:focus,
a:hover {
    color: #23527c
}

a:focus,
input[type=checkbox]:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

h1,
h2,
h3,
h6 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h6 {
    font-size: 12px
}

p {
    margin: 0 0 10px;
    font-size: 16px
}

.btn,
.label,
.text-center,
.title {
    text-align: center
}

ul {
    margin-top: 0;
    margin-bottom: 10px
}

.btn,
ul ul {
    margin-bottom: 0
}

#PaymentPopup .modal-content,
.form input,
.payment .modal-footer button,
.title h2,
.title p {
    font-family: var(--secondary-fonts);
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-lg-12,
.col-lg-4,
.col-lg-6,
.col-md-12,
.col-md-6,
.col-md-7 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.mobilenum_div span.custom_span {
    color: #999;
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 13px;
    display: flex;
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), .6);
    width: auto !important;
    background: #fff;
    padding: 0 5px
}

.login_signup_main .field_div i.material-icons {
    z-index: 1 !important
}

.login_signup_main .field_div .mobilenum_div input:not(.browser-default):focus:not([readonly]) {
    border-color: #007aff;
    caret-color: #007aff
}

.login_signup_main .mobilenum_div .pure-material-textfield-outlined input {
    min-height: 48px;
    font-weight: 400;
    font-size: 14px;
    border-top-color: transparent;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 4px
}

.login_signup_main .field_div .mobilenum_div i.material-icons {
    top: 19px
}

.form input,
.login_signup_main p.new_user_txt,
.title h2 {
    color: #000
}

img,
label {
    max-width: 100%
}

.pure-material-textfield-outlined>input:not(.browser-default):focus:not([readonly]) {
    border-top-color: transparent !important
}

#PaymentPopup .modal-header .close {
    margin-top: 0
}

.form-control {
    font-size: 14px;
    line-height: 1.42857143
}

.btn,
.btn-primary:active,
.form-control {
    background-image: none
}

.pure-material-textfield-outlined>input:focus+span {
    font-size: 12px !important
}

.pure-material-textfield-outlined>input+span span.asterisk-cls {
    font-size: 20px
}

@media (min-width:992px) {

    .col-md-12,
    .col-md-6,
    .col-md-7 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700
}

input[type=checkbox] {
    margin: 4px 0 0;
    line-height: normal
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #999
}

.form-control::-webkit-input-placeholder {
    color: #999
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-group {
    margin-bottom: 15px
}

.btn {
    line-height: 1.42857143
}

.btn {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn:active:focus,
.btn:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

.btn:focus,
.btn:hover {
    color: #333;
    text-decoration: none
}

.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn-primary:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40
}

.btn-primary:active,
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}

.btn-primary:active:focus,
.btn-primary:active:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    line-height: 1;
    color: #fff;
    vertical-align: baseline;
    border-radius: .25em
}

.close {
    line-height: 1
}

.payment .modal-footer {
    border-top: 0
}

.close {
    float: right;
    font-size: 21px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0;
    border: 0
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%)
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
    margin-top: -2px
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

@media (min-width:768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }
}

#header_main,
.free_trial,
body {
    width: 100%;
}

.container:after,
.container:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.row:after,
.row:before {
    display: table;
    content: " "
}

.container:after,
.modal-footer:after,
.modal-header:after,
.row:after {
    clear: both
}

#header_main {
    background-color: #fff;
    z-index: 99
}

@media (min-width:1200px) {

    .col-lg-12,
    .col-lg-4,
    .col-lg-6 {
        float: left
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-4 {
        width: 33.33333333%
    }
}

body {
    cursor: default;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    overflow-x: hidden
}

body,
html {
    scroll-behavior: smooth
}

a,
a:focus,
a:hover,
button,
button:focus,
button:hover {
    text-decoration: none;
    outline: 0
}

#header_main {
    position: fixed;
    left: 0;
    top: 0
}

.logo_div {
    width: 100%;
    padding: 10px 0
}

.payment .modal-body {
    padding: 0
}

.scroll_top_div {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999
}

.scroll_top_link {
    background-color: #555;
    color: #fff;
    height: 46px;
    float: left;
    width: 46px;
    text-align: center;
    line-height: 43px;
    font-size: 30px;
    border-radius: 4px
}

.scroll_top_link:hover {
    background-color: #0288da;
    color: #fff
}

a:focus,
button:focus,
input:focus {
    outline: 0 !important
}

#cookie-notice {
    color: #fff;
    background-color: #259eff;
    display: block;
    position: fixed;
    min-width: 100%;
    height: auto;
    z-index: 99;
    font-size: 13px;
    line-height: 20px;
    left: 0;
    text-align: center;
    bottom: 0
}

.cookie-notice-container {
    padding: 10px;
    text-align: center;
    width: 100%
}

.cn-button.wp-default {
    font-family: sans-serif;
    line-height: 18px;
    padding: 2px 12px;
    background: linear-gradient(to bottom, #fefefe, #f4f4f4) #f3f3f3;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    -moz-box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #bbb;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    outline: 0;
    margin-left: 10px
}

.offer_text p a {
    text-decoration: underline
}

input.newslater_input {
    font-size: 13px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    vertical-align: top;
    height: 40px;
    line-height: normal;
    background-color: transparent;
    color: #fff;
    border: 1px solid #b4b4b4;
    border-right: 0;
    padding: 10px 15px;
    box-sizing: border-box
}

.mt-0 {
    margin-top: 0 !important
}

span.mobile_view {
    display: none;
    content: "";
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 10
}

.whypaypart h2 {
    font-weight: 600;
    font-size: 34px
}

.new_integration .inte_inner {
    min-height: 302px
}

.whypaymentwrap {
    width: 100%;
    background: linear-gradient(90deg, #007ffa 6.41%, #30c8f8 97.06%);
    margin-bottom: 80px
}

.whypaypart {
    text-align: center;
    padding: 50px 0
}

.whypaypart h2 {
    line-height: 50px;
    color: #fff;
    margin: auto auto 20px;
    padding-bottom: 14px;
    position: relative
}

.whypaypart h2:before {
    content: "";
    position: absolute;
    background: #fff;
    width: 50px;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.whypaypart p {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, .8)
}

.tryitfree_btn a {
    font-weight: 600;
    display: inline-block
}

.tryitfree_btn a {
    background: #007ffa;
    border-radius: 5px;
    border: 1px solid #007ffa;
    min-width: 160px;
    padding: 0 15px;
    height: 44px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    margin-top: 10px
}

.tryitfree_btn a:hover {
    background: 0;
    color: #007ffa
}

.payment button.close:hover {
    opacity: .8
}

.payment_section {
    width: 100%;
    padding: 80px 0
}

.payment_section h2 {
    color: #333333;
}

.inte_inner span img {
    margin-left: 10px
}

a.blue_small_button:hover,
a.white_small_button:hover {
    box-shadow: 0 14px 26px -12px rgba(0, 122, 255, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 122, 255, .42);
    transition: .2s ease-in
}

.border_center {
    text-align: center;
    font-size: 34px;
    line-height: 50px;
    font-weight: 500;
    color: var(--heading-color);
}

.border_center:after {
    width: 50px;
    height: 2px;
    background: #007ffa;
    left: 0;
    content: "";
    bottom: 0
}

.border_center {
    position: relative;
    padding-bottom: 17px
}

.border_center:after {
    position: absolute;
    right: 0;
    margin: 0 auto
}

a.blue_small_button {
    background: #007ffa;
    align-items: center
}

.text_center {
    text-align: center;
}

a.blue_small_button,
a.white_small_button {
    width: 160px;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 0;
    margin-top: 25px;
    transition: .5s;
    display: inline-block
}

a.blue_small_button {
    color: #fff;
    border: 2px solid transparent
}

a.white_small_button:hover {
    background-color: #007ffa;
    color: #fff
}

a.white_small_button {
    background: #fff;
    color: #007ffa;
    align-items: center;
    border: 2px solid #007ffa
}

.margin_right {
    margin-left: 25px
}

@media screen and (max-width:991px) {
    .inte_section .inte_inner {
        min-height: inherit
    }
}

.cancle_form [type=radio]:not(:checked) {
    position: absolute;
    left: -9999px
}

.cancle_form [type=radio]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    color: #000;
    font-weight: 400
}

.cancle_form [type=radio]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #000;
    border-radius: 100%;
    background: #fff
}

.cancle_form [type=radio]:not(:checked)+label:after {
    content: "";
    width: 10px;
    height: 10px;
    background: #4285f4;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: .2s;
    transition: .2s
}

.cancle_form [type=radio]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
}

.paymentBanner h1,
.paymentBanner p {
    color: #252525;
    margin-bottom: 25px
}

.paymentBanner {
    margin-top: 80px;
    padding: 160px 0;
    background-image: url(https://cdn.mooninvoice.com/image/images_new/payment_inte_bg.png);
    background-size: cover;
    background-position: center
}

.paymentBanner h1 {
    font-size: 40px;
    line-height: 47px;
    font-weight: 700
}

.paymentBanner p {
    font-size: 20px;
    line-height: 23px
}

.inte_inner p,
.w-60 {
    font-size: 18px;
    line-height: 25px
}

.inte_section {
    width: 100%;
    padding: 100px 0
}

.font-weight-600 {
    font-weight: 600 !important
}

.inte_inner {
    padding: 35px 20px;
    border-radius: 20px
}

div.logo {
    min-height: 50px
}

.inte_inner p {
    font-weight: 500;
    color: #21262c;
    margin: 30px 0
}

.inte_inner span {
    font-size: 18px;
    line-height: 22px;
    color: rgba(33, 38, 44, .75)
}

.bg-color-purple {
    background: rgba(137, 147, 255, .1)
}

.bg-color-gray {
    background: rgba(182, 182, 182, .1)
}

.bg-color-blue-new {
    background: rgba(85, 199, 246, .1)
}

.bg-color-green-new {
    background: rgba(82, 249, 160, .1)
}

.bg-color-gray-new {
    background: rgba(36, 36, 36, .1)
}

.bg-color-blueshade-new {
    background: rgba(113, 181, 255, .1)
}

.hover_link {
    display: block;
    border-radius: 20px;
    background-color: transparent;
    margin: 20px 0
}

.hover_link:hover {
    box-shadow: -1px 1px 6px -1px rgb(0 0 0 / 30%);
    -webkit-box-shadow: -1px 1px 6px -1px rgb(0 0 0 / 40%);
    -moz-box-shadow: -1px 1px 6px -1px rgba(0, 0, 0, .6);
    transition: .2s ease-in
}

.margin-25 {
    margin: 25px 0 0 25px
}

.w-60 {
    width: 60px;
    display: inline-block;
    color: rgba(0, 0, 0, .8)
}

.free_section {
    width: 100%;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(33, 38, 44, .2)
}

.free_section h2 {
    font-weight: 600;
    font-size: 34px;
    line-height: 50px;
    color: #000;
    margin-top: 0
}

.min-200 {
    min-width: 200px
}

.title_description_new ol li::marker {
    font-weight: 700;
    font-size: 16px;
    line-height: 35px
}

.pure-material-textfield-outlined.outline-new-height>input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined.outline-new-height>textarea:not(:focus):placeholder-shown {
    border-top-color: #ccc
}

.pure-material-textfield-outlined.outline-new-height>input:not(:focus):placeholder-shown+span,
.pure-material-textfield-outlined.outline-new-height>textarea:not(:focus):placeholder-shown+span {
    line-height: 60px;
    font-weight: 500
}

.pure-material-textfield-outlined..outline-new-height>textarea:not(:focus):placeholder-shown+span span,
.pure-material-textfield-outlined.outline-new-height>input:not(:focus):placeholder-shown+span span {
    background-color: transparent !important
}

.lds-ring,
.lds-roller_parent {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.pure-material-textfield-outlined.outline-new-height>input:not(:focus):placeholder-shown+span span,
.pure-material-textfield-outlined.outline-new-height>textarea:not(:focus):placeholder-shown+span span {
    background-color: transparent !important
}

.lds-roller_parent {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999
}

.lds-ring {
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 10px 0;
    border-radius: 8px;
    position: absolute
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: 1.2s cubic-bezier(.5, 0, .5, 1) infinite lds-ring;
    border-color: #fff transparent transparent
}

.lds-ring div:first-child {
    animation-delay: -.45s
}

.lds-ring div:nth-child(2) {
    animation-delay: -.3s
}

.lds-ring div:nth-child(3) {
    animation-delay: -.15s
}

@keyframes lds-ring {
    0 {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.new_frequent_question .panel-default>.panel-heading+.panel-collapse>.panel-body ul li::marker {
    width: 8px;
    height: 8px;
    font-size: 24px;
    color: #000
}

.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@media screen and (max-width:1400px) {
    .paymentBanner {
        margin-top: 70px;
        padding: 120px 0
    }

    .inte_section,
    .payment_section {
        padding: 50px 0
    }

    .free_section {
        padding-bottom: 50px
    }

    .whypaymentwrap {
        margin-bottom: 50px
    }
}

@media screen and (max-width:1320px) {
    .d-mobile-new {
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        text-align: center
    }
}

@media screen and (max-width:991px) {
    .logo_div {
        width: 30%;
        padding: 15px 0;
        margin-left: 30px
    }

    #cookie-notice {
        z-index: 999999
    }

    #header_main {
        z-index: 999
    }
}

@media screen and (max-width:991.98px) {
    .tryitfree_btn a {
        min-width: 140px
    }
}

@media screen and (max-width:767px) {
    .free_section h2 {
        font-size: 22px
    }

    .inte_inner p,
    .inte_inner span {
        font-size: 15px
    }

    .logo_div {
        width: 35%
    }

    .scroll_top_div {
        bottom: 142px;
        right: 15px
    }

    .modal .modal-dialog {
        margin: 10px auto
    }

    .border_center {
        font-size: 24px;
        line-height: 30px
    }

    .free_section {
        padding-bottom: 50px
    }

    .inte_section,
    .paymentBanner,
    .payment_section {
        padding: 50px 0
    }

    .paymentBanner {
        margin-top: 60px
    }

    .paymentBanner h1 {
        font-size: 30px;
        line-height: 47px
    }

    .paymentBanner p {
        font-size: 14px;
        line-height: 23px
    }

    .cust_button-new {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    .payment_section h2 {
        font-size: 22px;
        margin-top: 0
    }

    .mt-0 {
        margin-top: 10px !important;
        margin-left: 0
    }
}

@media screen and (max-width:600px) {
    .logo_div {
        width: 40%
    }
}

@media screen and (max-width:568px) {
    .border_center {
        font-size: 22px;
        line-height: 28px
    }

    .whypaypart h2 {
        font-size: 26px;
        line-height: 35px
    }

    .whypaypart p {
        font-size: 14px;
        line-height: 23px
    }

    .whypaymentwrap {
        margin-bottom: 30px
    }
}

@media screen and (max-width:480px) {
    .logo_div {
        width: 50%;
        margin-left: 20px
    }

    #header_main {
        z-index: 999999
    }
}

@media screen and (orientation:landscape) and (min-device-width:319px) and (max-device-width:736px) {
    #header_main {
        z-index: 999999
    }
}

@media screen and (max-width:767px) {
    .new_frequent_question .panel-default>.panel-heading+.panel-collapse>.panel-body ul li::marker {
        font-size: 18px
    }

    .payment .modal-header img.logo_payment {
        margin-top: 0 !important;
        width: auto;
        overflow: hidden !important
    }

    .payment .modal-dialog {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0 auto !important
    }

    #PaymentPopup .modal-content {
        width: 100% !important;
        margin: 0 auto !important;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    .payment .modal-body,
    .payment .modal-footer,
    .payment .modal-header {
        width: 100%
    }
}

#PaymentPopup .modal-content {
    width: 340px;
    margin: 100px auto 0;
    border-radius: 2px
}

.payment .modal-header img.logo_payment {
    width: 31%;
    margin-top: -69px
}

.payment .modal-header {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-bottom: 0;
    padding-bottom: 0
}

.title h2 span {
    font-weight: 400;
    color: rgba(0, 0, 0, .75)
}

.title h2 {
    font-weight: 600;
    letter-spacing: .02em;
    font-size: 1.8rem
}

.title {
    border-bottom: .5px solid rgba(0, 0, 0, .1);
    padding-bottom: 0
}

.form {
    padding: 14px 13px 0
}

.form input {
    height: 45px;
    border-color: #cfcfcf !important;
    letter-spacing: .01em;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 100%
}

.payment .modal-footer button:hover {
    background-color: #0071ed !important;
    transition: .5s
}

.form input:focus {
    outline: 0;
    box-shadow: none;
    border-color: #000 !important
}

.form input:placeholder {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: .01em;
    color: #a1a2b1
}

.title p {
    color: #545465;
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-weight: 500
}

.payment img.close {
    opacity: 1 !important;
    width: 80%
}

.payment button.close {
    position: absolute;
    right: 10px;
    opacity: 1;
    top: 15px
}

.payment .modal-footer button {
    width: 100%;
    background-color: #007aff !important;
    box-shadow: none;
    border: transparent;
    font-weight: 600;
    transition: .5s;
    padding: 10px 0 12px;
    font-size: 1.8rem
}

@media screen and (min-width:1899px) {
    .text_center {
        padding-bottom: 20px
    }
}

@media screen and (min-width:2025px) {
    .text_center {
        padding-bottom: 25px;
        padding-top: 25px
    }
}

@media screen and (min-width:2278px) {
    .text_center {
        padding-bottom: 35px;
        padding-top: 40px
    }
}

@media screen and (max-width:767px) {
    .margin_right {
        margin-left: 0
    }
}

@font-face {
    font-family: FontAwesome;
    src: url(https://cdn.mooninvoice.com/css/fonts/fontawesome-webfont.eot?v=4.7.0);
    src: url(https://cdn.mooninvoice.com/css/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"), url(https://cdn.mooninvoice.com/css/fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"), url(https://cdn.mooninvoice.com/css/fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"), url(https://cdn.mooninvoice.com/css/fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"), url(https://cdn.mooninvoice.com/css/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal
}

.free_invoice_faq.new_frequent_question .panel-default>.panel-heading+.panel-collapse>.panel-body ul li::marker {
    width: 5px;
    height: 5px;
    font-size: 20px;
    color: #707070
}

.container {
    width: 100%;
}

@media (min-width: 1800.99px) {
    .container {
        max-width: 1250px;
    }
}

@media (max-width: 1800.98px) and (min-width: 1500.99px) {
    .container {
        max-width: 1250px;
    }
}

@media (max-width: 1500.98px) and (min-width: 1199.99px) {
    .container {
        max-width: 1250px;
    }
}

@media (max-width: 1199.98px) and (min-width: 991.99px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 991.98px) and (min-width: 767.99px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 767.98px) and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}