.login_div {
    padding: 30px 40px 20px;
}

.login_signup_main {
    width: 100%;
}

.login_signup_main .logo_div {
    margin-top: 15px;
    margin-bottom: 30px;
}

.login_signup_main .theme_blue_btn {
    font-weight: 600;
    width: 60%;
    margin: 35px auto 20px;
    font-size: 15px;
    letter-spacing: 1px;
    box-shadow: none;
    line-height: 36px;
    height: 36px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.theme_blue_btn {
    background-color: #007aff;
    box-shadow: 0 9px 20px rgba(0, 122, 254, .5);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 10px 15px;
    box-shadow: none;
    color: #ffffff;
    line-height: unset;
    height: unset;
}

.theme_blue_btn:hover {
    color: #ffffff;
    background-color: #007aff;
}

.theme_blue_btn:focus {
    color: #ffffff;
    background-color: #007aff
}

#toast-container>div {
    -moz-box-shadow: 0 0 12px #000 !important;
    -webkit-box-shadow: 0 0 12px #000 !important;
    box-shadow: 0 0 12px #000 !important;
    opacity: 1 !important;
}

.form_div_main .error {
    font-size: 14px;
    font-weight: 500;
}

.page_login_signup .modal-content {
    box-shadow: 0 16px 28px 0 rgb(0 0 0 / 22%), 0 25px 55px 0 rgb(0 0 0 / 21%);
    height: 520px;
    border-radius: 2px;
    padding: 20px 35px;
}

.login_signup_main .modal-dialog {
    max-width: 440px;
}

.login_signup_main .modal-dialog .login_div {
    box-shadow: unset;
}

.login_signup_main .login_div {
    padding: 0px;
}

.login_signup_main .page_area_main {
    display: block;
}

.login_signup_main .row_div {
    margin-top: 0px;
}

.login_signup_main p.new_user_txt {
    margin: 0px;
    font-size: 14px;
}

.login_page {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 991px) {
    .login_page {
        background-color: #007aff !important;
    }
}

@media (max-width: 767px) {
    .page_login_signup {
        padding: 15px;
    }

    .login_signup_main .modal-dialog {
        width: 100%;
        max-width: 440px;
        margin: 0px auto;
    }

    .login_div {
        padding: 30px 15px;
    }

    .page_login_signup .modal-content {
        padding: 20px 15px;
        padding-bottom: 30px;
    }

    .login_signup_main .logo_div {
        margin-top: 10px;
    }
}

@media (min-height: 660px) {
    .page_login_signup {
        height: unset;
    }
}

#device_modal {
    padding-right: 0px !important;
}

#device_modal .modal-dialog {
    max-width: 440px;
    width: auto;
}

#device_modal .page_area_main {
    padding: 20px 0;
    width: 100%;
    display: block;
}

#device_modal .page_area_main .welcome-box,
#device_modal .page_area_main .btn_div {
    padding: 0px 30px;
}

#device_modal .page_area_main .welcome-box {
    border-bottom: 1px solid #ededed;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#device_modal .page_area_main .welcome_txt {
    color: #000000;
}

#device_modal .page_area_main .password_chnage_text {
    color: #000000;
    font-size: 15px;
    margin: 15px 0 0;
}

#device_modal .page_area_main .btn_div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#device_modal .page_area_main .btn_div * {
    text-transform: unset;
}

#device_modal .page_area_main .btn_div .btn:not(.theme_blue_btn) {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    margin-left: 15px;
}

#device_modal .page_area_main .btn_div .btn:not(.theme_blue_btn):focus {
    box-shadow: none;
}

@media (max-width: 767px) {

    #device_modal .page_area_main .welcome-box,
    #device_modal .page_area_main .btn_div {
        padding: 0 20px;
    }

    #device_modal .page_area_main .welcome-box {
        padding-bottom: 20px;
    }

    .toast-top-right {
        top: unset !important;
        bottom: 12px;
    }

    #device_modal .modal-dialog {
        margin: 30px auto;
    }

    #device_modal .page_area_main .btn_div .btn:not(.theme_blue_btn) {
        padding: 0px;
    }
}