html,
body {
    height: 100%;
}

body {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.modal-open .modal,
.modal-open .modal.payment {
    overflow-x: hidden;
    overflow-y: auto;
}

.fade.in {
    opacity: 1;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.in {
    opacity: 0.5;
}

#login_signup_modal {
    padding-right: 0px !important;
}

.login_page {
    background-color: #007aff;
}

.page_area_main {
    width: 460px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    padding: 20px 0;
}

.login_div {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    padding: 30px 40px 20px;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}

.login_txt {
    width: 100%;
    text-align: center;
    padding: 0 12px;
}

.login_form_text {
    font-size: 17px;
    margin: 4px 0;
}

.welcome_txt {
    margin: 10px 0;
    line-height: 1.1;
    font-size: 24px;
    color: #007aff;
}

.form_section {
    width: 100%;
}

.field_div .input-field .prefix {
    right: 0;
    right: 10px;
    width: auto;
}

.field_div .input-field .prefix~input,
.field_div .input-field .prefix~label {
    margin-left: 0;
    width: 100%;
}

.field_div .input-field.col .prefix~label,
.field_div .input-field.col .prefix~.validate~label {
    width: auto;
    margin-left: 0;
    padding: 0 5px;
    font-size: 14px;
}

.field_div .input-field .form_input {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 0 50px 0 15px;
    box-sizing: border-box;
}

.field_div .input-field>label:not(.label-icon).active {
    -webkit-transform: translateY(-9px) scale(0.8);
    transform: translateY(-9px) scale(0.8);
    background-color: #fff;
}

.remember_reset_password {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

[type="checkbox"]+span:not(.lever) {
    padding-left: 25px;
    font-size: 16px;
    line-height: 20px;
}

.right_div {
    margin-left: auto;
}

.form_link {
    color: #007aff;
    font-size: 16px;
    transition: all 0.2s ease-in;
}

.form_link:hover {
    color: #333;
    transition: all 0.2s ease-in;
}

.theme_blue_btn {
    background-color: #007aff;
    width: 100%;
    line-height: 46px;
    height: 46px;
    box-shadow: 0px 9px 20px rgba(0, 122, 254, 0.5);
    font-size: 17px;
    text-transform: capitalize;
}

.theme_blue_btn:hover {
    opacity: 0.8;
    background-color: #007aff;
}

.theme_blue_btn:focus {
    background-color: #007aff;
}

.row_div {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0 5px;
    justify-content: center;
}

.new_user_txt {
    text-align: center;
    font-size: 16px;
    width: 100%;
}

.or_txt {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.or_txt span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    position: relative;
    width: 100%;
    float: left;
    font-weight: 600;
    margin-top: 30px;
}

.or_txt span:before,
.or_txt span:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 95px;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 8px;
}

.or_txt span:before {
    left: calc(50% - 105px);
    transform: translate(-50%, 0px);
}

.or_txt span:after {
    right: calc(50% - 105px);
    transform: translate(50%, 0px);
}

.social_login {
    display: flex;
    align-items: center;
    margin: 20px 0 0;
    justify-content: space-evenly;
}

.field_div input:not(.browser-default):focus:not([readonly]) {
    border: 1px solid #007aff;
    -webkit-box-shadow: 0 0 2px 0 #007aff;
    box-shadow: 0 0 2px 0 #007aff;
}

.field_div input:not(.browser-default):focus:not([readonly])+label {
    color: #007aff;
}

.field_div i.material-icons {
    color: #000;
    font-size: 24px;
    top: 10px;
    cursor: pointer;
}

.field_div .input-field .prefix.active {
    color: #000;
}

.field_div .input-field .form_input[type="text"],
.field_div .input-field .form_input[type="email"] {
    text-transform: lowercase;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #007aff !important;
    background-color: #007aff !important;
}

.remove_btm_margin {
    margin-bottom: 0;
}

.error label {
    color: #f44336;
}

span.error {
    color: #f44336;
    font-size: 14px;
    margin-top: 0;
    position: relative;
    bottom: 5px;
}

.success input.valid:not(.browser-default),
.error input.valid:not(.browser-default) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
}

.success input:not(.browser-default):focus.valid~label,
.error input:not(.browser-default):focus.valid~label {
    color: #9e9e9e;
}

.inline_progress {
    position: absolute;
    top: 0;
    left: 0px;
    height: 4px;
    display: block;
    width: 100%;
    background-color: rgba(0, 122, 255, 0.3);
    border-radius: 0;
    background-clip: padding-box;
    margin: 0;
    overflow: hidden;
}

.inline_progress .determinate {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 122, 255, 0.3);
    transition: width 0.3s linear;
}

.inline_progress .indeterminate {
    background-color: #007aff;
}

.inline_progress .indeterminate:before {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.inline_progress .indeterminate:after {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}

.pure-material-textfield-outlined {
    position: relative;
    display: inline-block;
    padding-top: 6px;
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0;
}

.pure-material-textfield-outlined>input,
.pure-material-textfield-outlined>textarea {
    box-sizing: border-box;
    margin: 0;
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.12);
    border-top-color: transparent;
    border-radius: 4px;
    padding: 10px 50px 10px 15px;
    width: 100%;
    height: inherit;
    color: #000;
    background-color: transparent;
    box-shadow: none;
    font-size: 16px;
    caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    transition: border 0.2s, box-shadow 0.2s;
    line-height: 21px;
    font-weight: normal;
    font-style: normal;
    font-family: var(--secondary-fonts);
}

.pure-material-textfield-outlined>input+span,
.pure-material-textfield-outlined>textarea+span {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    width: 100%;
    max-height: 100%;
    color: #828282;
    font-size: 12px;
    line-height: 15px;
    cursor: text;
    font-weight: normal;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

.pure-material-textfield-outlined>textarea+span .text_area_top {
    background-color: #fff;
}

.pure-material-textfield-outlined>input+span::before,
.pure-material-textfield-outlined>input+span::after,
.pure-material-textfield-outlined>textarea+span::before,
.pure-material-textfield-outlined>textarea+span::after {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-top: 6px;
    border-top: solid 1px;
    border-top-color: #ededed;
    min-width: 10px;
    height: 8px;
    pointer-events: none;
    box-shadow: inset 0 1px transparent;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.pure-material-textfield-outlined>input+span::before,
.pure-material-textfield-outlined>textarea+span::before {
    margin-right: 4px;
    border-left: solid 1px transparent;
    border-radius: 4px 0;
}

.pure-material-textfield-outlined>input+span::after,
.pure-material-textfield-outlined>textarea+span::after {
    flex-grow: 1;
    margin-left: 4px;
    border-right: solid 1px transparent;
    border-radius: 0 4px;
}

.pure-material-textfield-outlined:hover>input,
.pure-material-textfield-outlined:hover>textarea {
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    border-top-color: transparent;
}

.pure-material-textfield-outlined:hover>input+span::before,
.pure-material-textfield-outlined:hover>textarea+span::before,
.pure-material-textfield-outlined:hover>input+span::after,
.pure-material-textfield-outlined:hover>textarea+span::after {
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

.pure-material-textfield-outlined:hover>input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined:hover>textarea:not(:focus):placeholder-shown {
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

.pure-material-textfield-outlined>input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown {
    border-top-color: #ededed;
}

.pure-material-textfield-outlined>input:not(:focus):placeholder-shown+span,
.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown+span {
    font-size: 14px;
    line-height: 52px;
    font-weight: normal;
    color: #828282;
}

.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown+span .text_area_top {
    background-color: transparent;
}

.pure-material-textfield-outlined>input:not(:focus):placeholder-shown+span::before,
.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown+span::before,
.pure-material-textfield-outlined>input:not(:focus):placeholder-shown+span::after,
.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown+span::after {
    border-top-color: transparent;
}

.login_signup_main .field_div input:not(.browser-default):focus:not([readonly]) {
    border-top-color: transparent;
    box-shadow: none;
}

.pure-material-textfield-outlined>input:focus,
.pure-material-textfield-outlined>textarea:focus {
    border-color: #3395cc;
    border-top-color: transparent;
    box-shadow: inset 1px 0 var(--pure-material-safari-helper1), inset -1px 0 var(--pure-material-safari-helper1), inset 0 -1px var(--pure-material-safari-helper1);
    outline: none;
}

.pure-material-textfield-outlined>input:focus+span,
.pure-material-textfield-outlined>textarea:focus+span {
    color: #999;
    font-size: 12px;
    font-weight: normal;
}

.pure-material-textfield-outlined>textarea:focus+span .text_area_top {
    background-color: #fff;
}

.pure-material-textfield-outlined>input:focus+span::before,
.pure-material-textfield-outlined>input:focus+span::after,
.pure-material-textfield-outlined>textarea:focus+span::before,
.pure-material-textfield-outlined>textarea:focus+span::after {
    border-top-color: #007aff !important;
    box-shadow: inset 0 1px var(--pure-material-safari-helper1);
}

.pure-material-textfield-outlined>input:disabled,
.pure-material-textfield-outlined>input:disabled+span,
.pure-material-textfield-outlined>textarea:disabled,
.pure-material-textfield-outlined>textarea:disabled+span {
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
    border-top-color: transparent !important;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    pointer-events: none;
}

.pure-material-textfield-outlined>input:disabled+span::before,
.pure-material-textfield-outlined>input:disabled+span::after,
.pure-material-textfield-outlined>textarea:disabled+span::before,
.pure-material-textfield-outlined>textarea:disabled+span::after {
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.pure-material-textfield-outlined>input:disabled:placeholder-shown,
.pure-material-textfield-outlined>input:disabled:placeholder-shown+span,
.pure-material-textfield-outlined>textarea:disabled:placeholder-shown,
.pure-material-textfield-outlined>textarea:disabled:placeholder-shown+span {
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.pure-material-textfield-outlined>input:disabled:placeholder-shown+span::before,
.pure-material-textfield-outlined>input:disabled:placeholder-shown+span::after,
.pure-material-textfield-outlined>textarea:disabled:placeholder-shown+span::before,
.pure-material-textfield-outlined>textarea:disabled:placeholder-shown+span::after {
    border-top-color: transparent !important;
}

.login_signup_main .modal-dialog {
    width: 460px;
}

.login_signup_main .page_area_main {
    width: 100%;
    padding: 0 0;
    flex-wrap: wrap;
}

.close_popup {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 30px;
    border-radius: 50%;
    z-index: 1;
}

.close_popup:hover {
    background-color: #ddd;
}

.close_popup i.material-icons {
    line-height: 30px;
}

.login_signup_main .logo_div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}

.login_signup_main .logo_div img {
    width: 100%;
}

.login_signup_main .welcome_txt {
    font-size: 22px;
    font-family: var(--secondary-fonts);
    font-weight: 500;
}

.login_signup_main .login_form_text {
    font-family: var(--secondary-fonts);
    color: var(--heading-color);
    margin: 30px 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
}

.login_signup_main .field_div i.material-icons {
    color: var(--heading-color);
    opacity: 0.35;
    font-size: 24px;
    top: 15px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    width: auto;
}

.login_signup_main .field_div i.material-icons.prefix.active {
    color: var(--heading-color) !important;
}

.login_signup_main .btn_div {
    margin-top: 15px;
}

.login_signup_main .theme_blue_btn {
    background-color: #007aff;
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    padding: 0;
    color: #fff;
    font-family: var(--secondary-fonts);
    font-weight: 500;
    box-shadow: unset;
    border-radius: 5px;
}

.login_signup_main .theme_blue_btn:hover {
    box-shadow: 0px 9px 20px rgba(0, 122, 254, 0.5);
    opacity: 1;
}

.login_signup_main .left_div label {
    font-size: 0.8rem;
    color: #9e9e9e;
    font-weight: normal;
    margin-bottom: 0;
    font-family: var(--secondary-fonts);
    font-weight: 500;
}

.login_signup_main [type="checkbox"]:not(:checked),
.login_signup_main [type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.login_signup_main [type="checkbox"]+span:not(.lever) {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login_signup_main [type="checkbox"].filled-in+span:not(.lever):after {
    border-radius: 2px;
}

.login_signup_main [type="checkbox"]+span:not(.lever):before,
.login_signup_main [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 3px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.login_signup_main [type="checkbox"].filled-in+span:not(.lever):before,
.login_signup_main [type="checkbox"].filled-in+span:not(.lever):after {
    content: "";
    left: 0;
    position: absolute;
    -webkit-transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
    transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
    z-index: 1;
}

.login_signup_main [type="checkbox"].filled-in:not(:checked)+span:not(.lever):before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.login_signup_main [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid rgb(33 42 51 / 30%);
    top: 0px;
    z-index: 0;
}

.login_signup_main [type="checkbox"].filled-in:checked+span:not(.lever):before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.login_signup_main [type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #007aff !important;
    background-color: #007aff !important;
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 0;
}

.login_signup_main [type="checkbox"]+span:not(.lever) {
    padding-left: 25px;
    font-size: 16px;
    line-height: 20px;
}

.login_signup_main a {
    font-family: var(--secondary-fonts);
    font-weight: 500;
    cursor: pointer;
}

.login_signup_main .new_user_txt {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: var(--secondary-fonts);
    font-weight: 500;
}

.form_div_main .form-group {
    margin: 10px 0;
}

.form_div_main .error {
    color: red;
    font-size: 12px;
    margin-bottom: 0;
    font-weight: normal;
}

.login_signup_main .sign_up_main,
.login_signup_main .forgot_main_div {
    display: none;
}

.sign_up_main,
.forgot_main_div {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    padding: 30px 40px 20px;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}

.animate__animated {
    animation-duration: 0.2s !important;
}

.sign_up_main .btn_div,
.forgot_main_div .btn_div {
    margin-top: 8px;
    float: left;
    width: 100%;
}

.page_login_signup .modal-content {
    box-shadow: none;
    border: none;
}

@media screen and (min-height: 660px) {
    .page_login_signup {
        height: 100%;
    }

    .login_signup_main .modal-dialog .modal-content {
        width: 100%;
    }
}

@media screen and (min-height: 800px) {
    .login_signup_main .modal-dialog {
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-height: 670px) {
    .page_area_main {
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .page_area_main {
        width: 95%;
    }

    .login_div {
        padding: 20px;
    }

    .sign_up_main,
    .forgot_main_div {
        padding: 20px;
    }

    .login_signup_main .modal-dialog {
        width: 95%;
    }
}

.popup_iframe {
    background-color: transparent;
}

.popup_iframe .page_area_main {
    width: 100%;
    padding: 0;
}

.popup_iframe .login_div {
    box-shadow: none;
}

@media screen and (max-width: 767px) {
    .login_signup_main .modal-dialog {
        width: 100%;
    }

    .login_signup_main .modal-dialog .modal-content {
        height: 100%;
    }

    .sign_up_main,
    .forgot_main_div {
        box-shadow: none;
    }

    .login_div {
        box-shadow: none;
    }

    .modal-content {
        border-radius: 0;
    }

    .sign_up_main .or_txt {
        margin-top: 30px;
    }
}

@media screen and (max-width: 991px) {
    .login_page {
        background-color: transparent !important;
    }
}

.login_signup_main p.new_user_txt {
    color: rgb(0 0 0 / 50%);
}

.login_signup_main .mobilenum_div .pure-material-textfield-outlined input {
    font-size: 16px;
    color: #000;
    min-height: 48px;
    font-weight: 400;
    border-top-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.login_signup_main .field_div .mobilenum_div i.material-icons {
    z-index: 1;
    top: 18px;
}

.mobilenum_div span.custom_span {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 13px;
    display: flex;
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    width: auto !important;
    background: #fff;
    padding: 0 5px;
}

.login_signup_main .iti--separate-dial-code .iti__selected-flag {
    background: 0 0 !important;
    outline: 0;
}

.login_signup_main .field_div .mobilenum_div input:not(.browser-default):focus:not([readonly]) {
    border-color: #007aff;
    caret-color: #007aff;
}

.login_signup_main .modal-dialog {
    max-width: 1280px;
    width: 100%;
    padding: 0 15px;
}

.login_signup_main .modal-content {
    box-shadow: unset;
    border: 0px;
}

.login_signup_main .login_signup_box {
    background-image: url(https://cdn.mooninvoice.com/image/images/login_signup_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    padding: 50px 50px 30px;
}

.login_signup_grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.login_signup_grid .login_signup_left {
    width: calc(100% - 500px);
    padding-right: 90px;
}

.login_signup_grid .login_signup_right {
    width: 500px;
}

.login_signup_grid .login_signup_right .form_box {
    background: #ffffff;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px 50px 30px;
}

.login_signup_grid .cnt_box .ttl {
    font-size: 38px;
    line-height: 110%;
    letter-spacing: 0;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 34px;
    color: var(--heading-color);
}

.login_signup_grid .cnt_box .ttl .underline {
    position: relative;
}

.login_signup_grid .cnt_box .ttl .underline::before {
    content: "";
    background-image: url(https://cdn.mooninvoice.com/image/images/popup_underline.svg);
    background-repeat: no-repeat;
    background-position: 0px 40px;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: -15px;
}

.login_signup_grid .cnt_box .ttl .underline.underline-pos::before {
    height: 68px;
    bottom: -29px;
}

.login_signup_grid .cnt_box ul {
    margin: 0px;
    padding: 0;
    margin-top: 20px;
}

.login_signup_grid .cnt_box ul li {
    position: relative;
    padding: 10px 0 10px 32px;
    font-size: 18px;
    line-height: 23px;
    color: var(--heading-color);
}

.login_signup_grid .cnt_box ul li::before {
    content: "";
    background-image: url(https://cdn.mooninvoice.com/image/images/round-circle.svg);
    position: absolute;
    left: 0px;
    top: 12px;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.login_signup_grid .testimonial_sc {
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    padding: 28px 27px;
    margin-top: 40px;
    width: calc(100% - 35px);
}

.login_signup_grid .testimonial_sc p {
    font-size: 18px;
    line-height: 30px;
    color: var(--heading-color);
}

.login_signup_grid .testimonial_sc .author_rating_sc {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login_signup_grid .author_rating_sc .author {
    width: calc(100% - 150px);
    display: flex;
    align-items: center;
}

.login_signup_grid .author_rating_sc .author .img {
    width: 45px;
    min-width: 45px;
    height: 45px;
    margin-right: 15px;
}

.login_signup_grid .author_rating_sc .author span {
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    color: var(--heading-color);
    display: block;
}

.login_signup_grid .btn_div {
    text-align: center;
}

.login_signup_grid .btn_div .btn-info {
    display: inline-block;
    margin-top: 12px;
    color: var(--heading-color);
    font-size: 15px;
    line-height: 19px;
    position: relative;
}

.login_signup_grid .btn_div .btn-info:before {
    content: "";
    background-image: url(https://cdn.mooninvoice.com/image/images/back-arrow.svg);
    height: 40px;
    width: 22px;
    background-size: cover;
    position: absolute;
    right: -30px;
    bottom: 2px;
}

.login_signup_grid .row_div {
    margin: 0;
}

.login_signup_main .login_signup_grid p.new_user_txt {
    margin-top: 20px;
    margin-bottom: 0px;
}

.login_signup_main .social_login {
    align-items: unset;
    flex-wrap: wrap;
    justify-content: space-between;
}

.login_signup_main .social_login .cmn_social {
    background: #ffffff;
    border: 1px solid #d7d7d7;
    border-radius: 7px;
    width: calc(20% - 9px);
    text-align: center;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_signup_list {
    padding-top: 38px;
    display: flex;
    justify-content: center;
}

.login_signup_list ul {
    display: flex;
    align-items: center;
    margin: 0;
}

.login_signup_list ul li {
    position: relative;
    padding: 0 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: var(--heading-color);
}

.login_signup_list ul li+li {
    border-left: 2px solid #a7d1ff;
}

.login_signup_main .cmn_social a {
    width: 30px;
    height: 30px;
}

.login_signup_main .cmn_social a img {
    width: 100%;
    height: 100%;
}

.blackfriday-banner {
    min-height: auto !important;
    width: 100%;
}

.blackfriday-banner img {
    width: 100%;
}

.upgrade-plan-main {
    padding: 40px 15px;
}

.upgrade-plan-block {
    position: relative;
    border: 1px solid #007aff;
    border-radius: 22px;
    background: #f5faff;
    z-index: 5;
    margin-top: 40px;
    padding: 40px;
}

.upgrade-plan-block p {
    margin: 0px;
    font-size: 20px;
}

.upgrade-plan-main .upgrade-plan-heading {
    text-align: center;
}

.upgrade-plan-main .upgrade-plan-heading h1 {
    font-family: Circular Std !important;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 45.54px;
    color: #000000;
    margin: 0px 0px 10px;
}

.upgrade-plan-main .upgrade-plan-heading p {
    font-family: Circular Std !important;
    font-size: 20px;
    font-weight: 450;
    line-height: 25.3px;
    color: #000000;
    text-align: center;
}

.upgrade-plan-main .upgrade-plan-heading p span {
    font-weight: 500;
}

.upgrade-plan-block::after {
    content: "";
    position: absolute;
    width: 56%;
    height: 100%;
    background: url("https://cdn.mooninvoice.com/image/images/upgrade-plan-animation.svg") no-repeat;
    left: 0;
    bottom: 0;
    background-size: 100%;
    z-index: -1;
}

.additional-plan-price .old-price,
.additional-plan-price .price-blocks {
    font-family: Source Sans Pro;
    font-size: 34px;
    font-weight: 400;
    line-height: 42.74px;
    color: #00000080;
    z-index: 10;
    position: relative;
    margin: 0px;
    line-height: 63px;
    word-spacing: -5px;
}

.upgrade-plan-block-revamp .price-blocks {
    font-family: Source Sans Pro !important;
    color: #000;
    font-size: 27px !important;
    font-weight: 700;
    margin-bottom: 20px;
}

.additional-plan-price .price-blocks .fs-50 {
    font-weight: 700;
    font-size: 50px;
    color: #000000;
}

.additional-plan-price .price-blocks .fs-70 {
    font-weight: 700;
    font-size: 70px;
    color: #000000;
}

.upgrade-btns {
    width: 100%;
    background: #007aff;
    text-align: center;
    height: 42px;
    border-radius: 5px;
    text-transform: uppercase;
}

.upgrade-btns-revamp {
    height: 42px !important;
}

.upgrade-btns-revamp a {
    top: 3px !important;
}

.upgrade-btns a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}

.upgrade-plan-block-revamp .upgrade-btns a {
    top: 10px;
    text-transform: none;
}

.btn-upgrade {
    text-transform: uppercase !important;
}

.upgrade-plan-block-revamp span {
    font-family: Source Sans Pro !important;
    font-size: 34px;
}

.upgrade-plan-block-revamp::before {
    display: none;
}

.upgrade-plan-block-revamp .mb-30 {
    font-family: Source Sans Pro !important;
    background: linear-gradient(to bottom, #fe382d, #9a0000) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}

.upgrade-plan-block-revamp .pl-20 {
    padding-left: 24px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.upgrade-plan-block-revamp .pl-40 {
    padding-left: 40px;
    text-align: start;
}

.annual-price-div {
    position: relative;
}

.red-line {
    position: absolute;
    bottom: 0;
    left: 0;
}

.row-2 {
    padding-bottom: 15px;
    margin-bottom: 20px !important;
}

.additional-plan-block p {
    font-family: Circular Std;
    font-size: 20px;
    font-weight: 500;
    color: #000000cc;
}

.additional-plan-list {
    padding: 20px 5px 20px 30px;
}

.upgrade-plan-block-revamp .additional-plan-list {
    padding: 0px 0px 30px 20px;
}

.discount-code {
    color: #000000cc;
    background: #ffffff;
    border: 1px solid #007aff66;
    border-radius: 5px;
    padding: 4px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    width: max-content;
    text-transform: uppercase;
}

.discount-code p {
    padding-inline: 15px;
    width: 215px;
}

.discount-code-block {
    background: #007aff;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    padding: 6px 10px;
    font-size: 20px;
    width: 210px;
}

.additional-plan-block ul li {
    font-family: Source Sans Pro !important;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.14px;
    position: relative;
    list-style-type: none;
    margin-bottom: 15px;
    color: #2d2d2d;
    width: 50%;
}

.upgrade-plan-block-revamp .additional-plan-block ul li {
    font-size: 17px !important;
}

.additional-plan-block ul li:nth-child(even) {
    width: 44%;
}

.additional-plan-block ul li:before {
    content: "";
    position: absolute;
    left: -30px;
    top: 3px;
    width: 21px;
    height: 20px;
    background-size: cover;
    background-image: url(https://cdn.mooninvoice.com/image/images/round-circle.svg);
}

lottie-player {
    position: absolute;
    left: -40px;
    float: left;
    top: -7px;
}

.additional-plan-price {
    padding-right: 20px;
}

.additional-plan-block {
    padding-left: 20px;
}

.additional-offer .price-blocks {
    font-size: 30px;
}

.upgrade-plan-block-revamp .additional-offer-block {
    margin-top: 0px !important;
}

.additional-offer .additional-offer-block {
    font-size: 20px !important;
    font-weight: 600;
    margin-top: 35px;
}

.additional-offer .additional-offer-block span {
    font-weight: 700;
}

.additional-offer .offer-wrap {
    line-height: 30px;
    background: #fff;
    border: 1px solid #007aff;
    padding: 8px 13px;
    text-align: center;
    border-radius: 6px;
    width: 45%;
    color: #007aff;
}

.upgrade-plan-block-revamp {
    padding: 40px !important;
}

.upgrade-plan-block-revamp .offer-wrap {
    width: 100%;
    padding: 20px 30px;
}

.additional-offer .plus-icon {
    display: flex;
    align-items: center;
}

.additional-offer .equal-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 10px;
    width: 100%;
}

.additional-offer .upgrade-btns {
    font-weight: 700;
}

.additional-offer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.additional-offer .mr-8 {
    margin-right: 8px;
}

.christmas-main .upgrade-plan-block {
    border-color: #c31b2d;
}

.christmas-main .upgrade-btns {
    background: #c31b2d;
}

.upgrade-plan-block-revamp .upgrade-btns {
    font-family: Source Sans Pro !important;
    background: linear-gradient(to bottom, #fe382d, #9a0000) !important;
    height: 54px;
    text-transform: none;
}

.christmas-main .additional-offer .offer-wrap {
    border: 1px solid #c31b2d;
    color: #c31b2d;
}

.christmas-main .upgrade-plan-block::before {
    content: "";
    position: absolute;
    width: 56%;
    height: 100%;
    background: url("https://cdn.mooninvoice.com/image/newsletter_images/christmas-plan-animation2.svg") no-repeat;
    right: 0;
    top: 0;
    background-size: 100%;
    z-index: -1;
}

.christmas-main .bronze_block .upgrade-plan-block::after {
    background-size: 106% !important;
}

.christmas-main .gold_block .upgrade-plan-block::after {
    height: 116% !important;
}

.christmas-main .silver_block .upgrade-plan-block::after {
    height: 126% !important;
    width: 90% !important;
}

.christmas-main .upgrade-plan-block::after {
    background: url("https://cdn.mooninvoice.com/image/images/christmas-plan-animation.svg") no-repeat !important;
    background-position: bottom !important;
}

.christmas-main .additional-plan-block ul li:before {
    height: 21px;
    background-image: url("https://cdn.mooninvoice.com/image/images/christmas-check.svg") !important;
}

.black-friday-main .additional-plan-block ul li:before {
    background-image: url("https://cdn.mooninvoice.com/image/images/home_images/mail-red-checkmark.svg") !important;
}

.christmas-main .discount-code {
    border-color: #c31b2d;
    background: #c31b2d;
    text-align: center;
}

.christmas-main .discount-code a {
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.enterprise_benifites {
    padding: 60px 15px 50px;
}

.enterprise-plan-btn {
    padding: 12px 8px;
    background: #f5faff;
    border: 1px solid #c31b2d;
    text-align: center;
    margin: 0 auto;
    max-width: 625px;
}

.enterprise-plan-btn a {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    color: #c31b2d;
    text-align: center;
}

.enterprise-plan-btn a:hover {
    color: #c31b2d;
}

.christmas-main .features_plan_details ul li {
    padding-right: 20px;
}

.christmas-main .benifit_colm:hover {
    background: linear-gradient(135.24deg, #c31b2d 1.95%, #99071f 135.8%);
    box-shadow: 4px 20px 50px 0px #c31b2d66;
}

.christmas-main .benifit_colm:hover .col_icon_div {
    background-color: rgba(169, 177, 198, 0.2);
}

@media (max-width: 1599.98px) {
    .login_signup_main .login_signup_box {
        padding: 40px 40px 30px;
    }

    .login_signup_grid .cnt_box .ttl {
        font-size: 34px;
        margin-bottom: 20px;
    }

    .login_signup_grid .cnt_box ul li {
        padding: 8px 0 8px 26px;
        font-size: 16px;
        line-height: 21px;
    }

    .login_signup_grid .cnt_box ul li::before {
        top: 9px;
        width: 18px;
        height: 18px;
    }

    .login_signup_grid .testimonial_sc {
        border-radius: 10px;
        padding: 20px 20px;
        margin-top: 20px;
    }

    .login_signup_grid .login_signup_right .form_box {
        padding: 30px 50px 30px;
    }

    .login_signup_main .login_form_text {
        font-size: 24px;
        line-height: 32px;
        margin: 15px 0;
    }

    .or_txt span {
        margin-top: 20px;
    }

    .login_signup_main .social_login .cmn_social {
        padding: 10px;
    }

    .login_signup_list {
        padding-top: 30px;
    }

    .login_signup_list ul li {
        font-size: 16px;
        line-height: 23px;
    }

    .login_signup_grid .testimonial_sc p {
        font-size: 16px;
        line-height: 28px;
    }
}

@media (max-width: 1300px) and (min-width: 991.99px) {
    .login_signup_main .modal-dialog {
        max-width: 1000px;
    }

    .login_signup_main .login_signup_box {
        padding: 20px 40px 20px;
    }

    .login_signup_grid .login_signup_left {
        width: calc(100% - 400px);
        padding-right: 50px;
    }

    .login_signup_grid .login_signup_right {
        width: 400px;
    }

    .login_signup_grid .cnt_box .ttl {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .login_signup_grid .cnt_box .ttl .underline::before {
        bottom: -18px;
    }

    .login_signup_grid .cnt_box .ttl .underline.underline-pos::before {
        height: 68px;
        bottom: -29px;
    }

    .login_signup_grid .cnt_box ul li {
        padding: 8px 0 8px 22px;
        font-size: 16px;
        line-height: 21px;
    }

    .login_signup_grid .cnt_box ul li::before {
        top: 10px;
        width: 15px;
        height: 15px;
    }

    .login_signup_grid .testimonial_sc {
        margin-top: 20px;
        padding: 10px 10px;
        width: calc(100% - 75px);
    }

    .login_signup_grid .testimonial_sc p {
        font-size: 14px;
        line-height: 22px;
    }

    .login_signup_grid .testimonial_sc .author_rating_sc {
        margin-top: 15px;
    }

    .login_signup_grid .author_rating_sc .author span {
        font-size: 14px;
    }

    .login_signup_grid .login_signup_right .form_box {
        padding: 20px 20px 20px;
    }

    .login_signup_main .logo_div {
        max-width: 160px;
        margin: auto;
    }

    .login_signup_main .login_form_text {
        font-size: 20px;
        line-height: 20px;
        margin: 15px 0;
    }

    .login_signup_main .theme_blue_btn {
        height: 45px;
        font-size: 16px;
        line-height: 21px;
    }

    .login_signup_grid .btn_div .btn-info {
        font-size: 14px;
        line-height: 16px;
        margin-top: 8px;
    }

    .or_txt span {
        margin-top: 15px;
    }

    .login_signup_main .social_login {
        margin: 15px 0 0;
    }

    .login_signup_main .login_signup_grid p.new_user_txt {
        margin-top: 10px;
    }

    .login_signup_list {
        padding-top: 20px;
    }

    .login_signup_list ul li {
        font-size: 14px;
        line-height: 20px;
        padding: 0 20px;
    }

    .login_signup_main .social_login .cmn_social {
        padding: 7px;
    }

    .login_signup_main .cmn_social a {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 1199.98px) {
    .login_signup_grid .login_signup_left {
        width: calc(100% - 450px);
        padding-right: 30px;
    }

    .login_signup_grid .login_signup_right {
        width: 450px;
    }

    .login_signup_grid .cnt_box .ttl {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .login_signup_grid .cnt_box .ttl .underline::before {
        bottom: -17px;
    }

    .login_signup_grid .login_signup_right .form_box {
        padding: 30px 30px 30px;
    }

    .login_signup_list ul li {
        padding: 0 10px;
    }

    .upgrade-plan-block {
        padding: 20px !important;
    }

    .upgrade-plan-block-revamp {
        padding: 30px !important;
    }

    .upgrade-plan-block-revamp .additional-plan-price {
        padding-right: 0 !important;
    }

    .upgrade-plan-block-revamp .offer-wrap {
        padding: 20px;
    }

    .additional-offer .additional-offer-block span {
        font-weight: 700;
    }

    .upgrade-plan-block-revamp span {
        font-size: 30px;
    }

    .upgrade-plan-block-revamp .pl-40 {
        padding-left: 14px;
    }

    .upgrade-plan-block-revamp .pl-20 {
        padding-left: 10px;
        gap: 5px;
    }

    .red-line {
        width: 115px;
    }

    .upgrade-plan-block::after {
        width: 81%;
    }

    .upgrade-plan-block-revamp .price-blocks {
        font-size: 22px !important;
        line-height: 40px;
    }
}

@media (max-width: 991.98px) {
    .login_signup_main .login_signup_box {
        padding: 25px;
        padding-top: 50px;
    }

    .login_signup_grid .login_signup_left {
        width: 50%;
        padding-right: 15px;
    }

    .login_signup_grid .login_signup_right {
        width: 50%;
    }

    .login_signup_grid .testimonial_sc {
        width: 100%;
    }

    .login_signup_list ul li {
        font-size: 14px;
        line-height: 16px;
    }

    .login_signup_grid .login_signup_right .form_box {
        padding: 20px;
    }

    .login_signup_grid .cnt_box .ttl {
        font-size: 22px;
    }

    .login_signup_grid .author_rating_sc .author {
        width: calc(100% - 50px);
    }

    .login_signup_grid>* {
        width: 100% !important;
    }

    .login_signup_grid .login_signup_right {
        order: 0;
    }

    .login_signup_grid .login_signup_left {
        order: 1;
    }

    .login_signup_grid .login_signup_right .form_box {
        margin-bottom: 40px;
    }

    .login_signup_list ul {
        flex-wrap: wrap;
        text-align: center;
    }

    .login_signup_list ul li {
        width: 100%;
        padding: 0;
    }

    .login_signup_list ul li+li {
        padding-top: 15px;
        border: 0;
    }

    .login_signup_main .cmn_social a {
        width: 22px;
        height: 22px;
    }

    .login_signup_grid .cnt_box .ttl .underline.underline-pos {
        display: inline-block;
    }

    .megamenu.solution_megamenu {
        width: 100% !important;
    }

    .additional-plan-block {
        margin-top: 30px;
    }

    .upgrade-plan-block::after {
        display: none;
    }

    .enterprise_benifites {
        padding: 10px 15px 30px;
    }

    .enterprise-plan-btn a {
        text-wrap: auto;
        padding: 0px;
    }

    .modal.login_signup_main.new-popup-Mooninvoice.show {
        display: flex !important;
        align-items: center;
        justify-content: center;
        height: 100%;
        top: 0px !important;
        bottom: 0px !important;
    }

    .modal.login_signup_main.new-popup-Mooninvoice.show .modal-content {
        height: max-content;
    }

    .modal.login_signup_main.new-popup-Mooninvoice.show .modal-dialog {
        align-items: center;
    }

    .upgrade-plan-block-revamp .pl-40,
    .upgrade-plan-block-revamp .pl-20 {
        padding-left: 0px;
        text-align: center;
        justify-content: center;
        gap: 10px;
    }

    .row-0 {
        margin-left: -120px;
    }

    .row-2 {
        margin-left: -18px;
    }

    .red-line {
        width: 150px;
        left: 50%;
        transform: translate(-127%, -50%);
    }
}

@media (max-width: 991.98px) and (min-width: 767.99px) {
    .login_signup_main.modal {
        top: 30px;
        bottom: unset;
        height: calc(100% - 60px);
    }

    .login_signup_main.modal .modal-dialog {
        align-items: flex-start;
        max-width: 600px;
    }
}

@media (max-width: 767.98px) {
    .login_signup_main.modal .modal-dialog {
        padding: 0;
    }

    .login_signup_main .login_signup_box {
        border-radius: 0px;
        padding-top: 10px;
        background: transparent !important;
    }

    .billing-cards .pure-material-textfield-outlined>input,
    .pure-material-textfield-outlined>textarea {
        padding: 7px 15px;
    }

    .billing-cards .form_div_main .form-group {
        margin: 3px 0;
    }

    .new-popup-Mooninvoice .form_div_main .form-group:last-child {
        margin: 3px 0 10px;
    }

    .new-popup-Mooninvoice .login_signup_right .form_div_main .btn_div {
        margin-top: 18px;
    }

    .login_signup_main .login_signup_box {
        padding: 15px;
    }

    .mobilenum_div .mobile_number_buy_now {
        min-height: 37px !important;
        height: 37px !important;
    }

    .login_signup_main .login_form_text {
        font-size: 20px;
        line-height: 28px;
    }

    .login_signup_main .logo_div {
        max-width: 170px;
        margin: auto;
    }

    .login_signup_main .social_login .cmn_social {
        padding: 5px 10px 5px;
    }

    .login_signup_main .theme_blue_btn {
        height: 45px;
        font-size: 16px;
        line-height: 20px;
    }

    .or_txt span:before,
    .or_txt span:after {
        width: 50px;
    }

    .or_txt span:before {
        left: calc(50% - 80px);
    }

    .or_txt span:after {
        right: calc(50% - 80px);
    }

    .login_signup_grid .login_signup_left {
        padding-right: 0px;
    }

    .login_signup_grid .cnt_box .ttl .underline::before {
        bottom: -20px;
    }

    .login_signup_grid .cnt_box ul li {
        font-size: 14px;
        line-height: 16px;
    }

    .login_signup_grid .cnt_box ul li::before {
        top: 8px;
        width: 16px;
        height: 16px;
    }

    .login_signup_grid .testimonial_sc {
        padding: 15px;
    }

    .login_signup_grid .testimonial_sc p {
        font-size: 14px;
        line-height: 26px;
    }

    .login_signup_grid .author_rating_sc .author .img {
        margin-right: 10px;
    }

    .login_signup_main .close_popup {
        position: fixed;
    }

    .additional-plan-block ul li,
    .additional-plan-block ul li:nth-child(even) {
        width: 100%;
    }

    .discount-code {
        flex-wrap: wrap;
        width: 100%;
    }

    .discount-code p {
        width: 100%;
        text-align: center;
    }

    .discount-code-block {
        margin-top: 5px !important;
    }

    .additional-plan-price .price-blocks .fs-50 {
        font-size: 40px;
    }

    .additional-plan-price .price-blocks .fs-70 {
        font-size: 60px;
    }

    .additional-offer-wrap {
        flex-direction: column;
        gap: 12px;
    }

    .additional-offer .offer-wrap {
        width: 100%;
    }

    .additional-offer .additional-offer-block {
        font-size: 20px;
        font-weight: 600;
        margin-top: 25px;
    }

    .additional-offer .equal-icon {
        padding: 12px 10px;
    }

    .additional-plan-price .old-price,
    .additional-plan-price .price-blocks {
        line-height: 50px;
    }

    .new-popup-Mooninvoice .dic-popup-heading p {
        line-height: 20px;
    }
}

@media screen and (max-width: 532px) {
    .price-blocks .mr-8:first-child {
        display: block;
    }

    .upgrade-plan-block {
        padding: 15px !important;
    }

    .login_signup_main .login_signup_box {
        padding: 8px 12px 10px;
    }
}

@media screen and (max-width: 374px) {

    .additional-plan-price .old-price,
    .additional-plan-price .price-blocks {
        font-size: 28px;
    }

    .additional-plan-price .price-blocks .fs-50 {
        font-size: 35px;
    }

    .additional-plan-price .price-blocks .fs-70 {
        font-size: 50px;
    }

    .new-popup-Mooninvoice .close_popup {
        right: 4px;
        top: 4px;
    }
}

@media screen and (max-height: 625px) {
    .modal.login_signup_main.new-popup-Mooninvoice.show {
        align-items: flex-start;
        top: 20px !important;
    }

    .new-popup-Mooninvoice .dic-popup-heading p {
        line-height: 20px;
        font-size: 13px;
    }
}

@media (max-width:575px) {

    .upgrade-plan-block-revamp .pl-40,
    .upgrade-plan-block-revamp .pl-20 {
        text-align: center;
    }

    .row-0 {
        margin-left: 0px;
    }

    .red-line {
        display: none;
    }
}

@media (max-width:575px) {
    .upgrade-plan-block-revamp .mb-30 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .upgrade-plan-block-revamp span {
        font-size: 20px;
    }

    .upgrade-plan-block-revamp .price-blocks {
        font-size: 18px !important;
    }

    .upgrade-plan-block-revamp .pl-40,
    .upgrade-plan-block-revamp .pl-20 {
        gap: 2px;
    }

    .row-2 {
        margin-bottom: 10px;
    }
}